.hero {
    margin-top: -54px;
    padding-top: 54px;
    height: 90vh;
    border-bottom-left-radius: 40% 5%;
    border-bottom-right-radius: 40% 5%;
    background: url(/images/bg-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    a {
        text-decoration: none;
    }
}

.hero__inner {
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
}

.hero__subheadline {
    color: #798087;
}

.hero__icons {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.hero__icon {
    flex: 0 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (min-width: 800px) {
    .hero__headline {
        font-size: 1.8rem;
      }
      .hero__subheadline {
        font-size: 1.2rem;
      }
}

@media only screen and (min-width: 1020px) {
    .bgwrap {
        pointer-events: none;
        background-size: 30%, cover;
        border-bottom-left-radius: 70% 30%;
        border-bottom-right-radius: 70% 30%;
        background-position: left -15% bottom 10%, bottom center;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -128px;
        background-repeat: no-repeat;
        background-image: url(/images/hero-illustration@2x.png);
      }
      .bgwrap2 {
        pointer-events: none;
        opacity: 1;
        background-size: 30%;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -128px;
        background-repeat: no-repeat;
        background-position: right -10% bottom;
        background-image: url(/images/hero-illustration@2x.png);
      }
      .hero {
        border-bottom-left-radius: 70% 30%;
        border-bottom-right-radius: 70% 30%;
      }    
}

@media only screen and (min-width: 1200px) {
    .hero__headline {
      font-size: 2.2rem;
    }
    .hero__subheadline {
      font-size: 1.5rem;
    }
  }
