.navigation {
    display: none;
  }


  @media only screen and (min-width: 800px) {
    .navigation {
        display: block;
      }
      .navigation__list {
        display: flex;
        margin: 0;
      }
      .navigation__list li {
        list-style: none;
        padding-right: 2rem;
      }
  }