.panel {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.panel__inner {
    text-align: center;
    padding: 50px 30px;
}

.panel__content {
    text-align: center;
    line-height: 2;
    color: #798087;
}

.panel__headline {
    font-size: 32px;
    font-weight: 700;
    color: #13192c;
    margin-bottom: 1.5rem;
}

.panel__subheadline {
    font-size: 20px;
    font-weight: 500;
    color: #5d657c;
    margin-bottom: 36px;
}


@media only screen and (min-width: 1200px) {
    .panel__content--reverse 
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .panel__content-item1, .panel__content-item2, .panel__content-item3 {
            margin-right: 1rem;
        }

        .panel-cards {
            padding-bottom: 50px;
            background-image: url(/images/2nd-bg.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
  }
