.socialicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  
  .socialicon--facebook {
    background-color: #3b5998;
    background-image: url(/logos/facebook.svg);
  }
  
  .socialicon--twitter {
    background-color: #1da1f2;
    background-image: url(/logos/twitter.svg);
  }
  
  .socialicon--linkedin {
    background-color: #007ab9;
    background-image: url(/logos/linkedin.svg);
    background-size: 40% 40%;
  }
  
  .socialicon--instagram {
    background-image: url(/logos/instagram.svg),
      linear-gradient(-134deg, #5442d2 0, #d7246c 49%, #f9c255 100%);
    background-size: 40% 40%, cover;
  }