// Image computer

.laptop-image {
    max-width: 100%;
    padding-bottom: 1.5rem;
}


// Footer
.page-footer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 32px;
}

.page-footer__additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.page-footer__copyright {
    font-size: 14px;
    color: #b6b9bc;
}

.socialicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.socialicon--facebook {
    background-color: #3b5998;
    background-image: url(/logos/facebook.svg);
}

.socialicon--twitter {
    background-color: #1da1f2;
    background-image: url(/logos/twitter.svg);
}

.socialicon--linkedin {
    background-color: #007ab9;
    background-image: url(/logos/linkedin.svg);
    background-size: 40% 40%;
}

.socialicon--instagram {
    background-image: url(/logos/instagram.svg),linear-gradient(-134deg,#5442d2 0,#d7246c 49%,#f9c255 100%);
    background-size: 40% 40%,cover;
}

.footer-main, .list>* {
    display: flex;
    flex-wrap: wrap;
    margin: -16px 0 0 -16px;
    padding: 0;
} 

.products, .features, .company {
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
}

.products__headline {
    color: #303336;
    margin-bottom: 16px;
}

.footernav {
    font-size: 14px;
    margin-bottom: 20px;
}

.footernav__link {
    font-size: inherit;
    color: #303336;
    display: block;
    margin-bottom: 1rem;
}

.footernav-divider {
    display: block;
    width: 50%;
    border-bottom: 1px solid #e6e9ec;
    margin-bottom: 12px;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    .footer-main {
        padding-right: 10px;
        padding-left: 10px;
    }
    .panel__inner.laptop {
        display: flex;
    }
    .imgwrap, .textwrap {
        flex: 1;
    }
    .textwrap {
        padding-left: 1rem;
    }
    .products {
       flex: 0 0 25%;
    }
    .features {
        flex: 0 0 25%;
    }
    .company {
       flex: 0 0 25%;
    }
    .compare {
      flex: 0 0 25%;
    }
    .footer-main {
        grid-area: first-row;
    }
    .page-footer__additional {
        grid-area: second-row;
    }
    .page-footer {
        display: grid;
        grid-template-areas: 'first-row'
                             'second-row';
    }

  }
