// Image computer

.laptop-image {
  max-width: 100%;
  padding-bottom: 1.5rem;
}

.products,
.features,
.company {
  flex: 0 0 100%;
  margin-bottom: 1.5rem;
}

.products__headline {
  color: #303336;
  margin-bottom: 16px;
}

@media only screen and (min-width: 800px) {
  .panel__inner.laptop {
    display: flex;
  }
  .imgwrap,
  .textwrap {
    flex: 1;
  }
  .textwrap {
    padding-left: 1rem;
  }
  .products {
    flex: 0 0 25%;
  }
  .features {
    flex: 0 0 25%;
  }
  .company {
    flex: 0 0 25%;
  }
  .compare {
    flex: 0 0 25%;
  }
}


