@import 'components/modules';
@import 'layout/modules';
@import 'shame';

* {
    box-sizing: border-box;
}

html {
    color: #000000;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";    
}

body {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: #000000;
}


// Extra classes

.topspacing {
    margin-top: 4rem; 
}

// end extra classes