<footer class="page-footer">
        <div class="page-footer__additional">
              <div class="page-footer__copyright">© App Radar</div>
              <div class="page-footer__social">
                  <a href="#" title="Facebook" class="socialicon socialicon--facebook"></a>
                  <a href="#" title="Twitter" class="socialicon socialicon--twitter"></a>
                  <a href="#" title="Linkedin" class="socialicon socialicon--linkedin"></a>
                  <a href="#" title="Instagram" class="socialicon socialicon--instagram"></a>
              </div>
        </div>
        <div class="footer-main">
             <div class="products">
                <div class="products__headline">Products</div>
                <nav class="footernav">
                    <a href="#" class="footernav__link">What is App Store Optimization</a>
                    <div class="footernav-divider"></div>
                    <a href="#" class="footernav__link">Pricing</a>
                    <div class="footernav-divider"></div>
                    <a href="#" class="footernav__link">ASO Academy</a>
                    <a href="#" class="footernav__link">Free Ebook: ASO Done Right</a>
                </nav>
             </div>
             <div class="features">
                    <div class="products__headline">Features</div>
                    <nav class="footernav">
                        <a href="#" class="footernav__link">Analyze</a>
                        <a href="#" class="footernav__link">Optimize</a>
                        <a href="#" class="footernav__link">Publish</a>
                    </nav>
             </div>
             <div class="company">
                    <div class="products__headline">Company</div>
                    <nav class="footernav">
                        <a href="#" class="footernav__link">About Us</a>
                        <a href="#" class="footernav__link">Jobs</a>
                        <a href="#" class="footernav__link">Press Resources</a>
                        <a href="#" class="footernav__link">Contact Us</a>
                        <a href="#" class="footernav__link">Privacy Policy</a>
                        <a href="#" class="footernav__link">Terms of Service</a>
                        <a href="#" class="footernav__link">Legal Notice</a>
                    </nav>
             </div>
             <div class="compare">
                    <div class="products__headline">How we compare</div>
                    <nav class="footernav">
                        <a href="#" class="footernav__link">App Radar vs. Sensor Tower</a>
                        <a href="#" class="footernav__link">App Radar vs. App Annie</a>
                        <a href="#" class="footernav__link">App Radar vs. Mobile Action</a>
                    </nav>
             </div>
        </div>
      </footer>
    </body>
</html>
