<!--<footer>
        <div class="footer-top">
        <div class="footer-top__copyright">© App Radar</div>
        <div class="footer-top__social">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
       </div>
        <div class="columns footer-bottom has-text-centered-desktop">
           <div class="column">
               <h1 class="subtitle">Products</h1>
               <h2 class="content">What is App Store Optimization</h2>
               <hr>
               <h2 class="content">Pricing</h2>
               <hr>
               <h2 class="content">ASO Academy</h2>
               <h2 class="content">Free Ebook: ASO Done Right</h2>
           </div>
           <div class="column">
               <h1 class="subtitle">Features</h1>
               <h2 class="content">Analyze</h2>
               <h2 class="content">Optimize</h2>
               <h2 class="content">Publish</h2>
             </div>
             <div class="column">
                 <h1 class="subtitle">Company</h1>
                 <h2 class="content">About Us</h2>
                 <h2 class="content">Jobs</h2>
                 <h2 class="content">Press Resources</h2>
                 <h2 class="content">Contact Us</h2>
                 <h2 class="content">Privacy Policy</h2>
                 <h2 class="content">Terms of Service</h2>
                 <h2 class="content">Legal Notice</h2>
               </div>
               <div class="column">
                   <h1 class="subtitle">How we compare</h1>
                   <h2 class="content">App Radar vs. Sensor Tower</h2>
                   <h2 class="content">App Radar vs. App Annie</h2>
                   <h2 class="content">App Radar vs. Mobile Action</h2>
                </div>
        </div>
 </footer> -->
    </body>
</html>
