<div class="navbar">
     <div class="navbar__logo">
          <a href="#"><img src="logos/logo-dark-struc.png" alt=""></a>
     </div>
     <div class="navbar__main">
        <button><span>Hamburger</span></button>
     </div>
</div>


































<!--<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="logos/logo-dark-struc.png" />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span> <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-end is-hidden-touch">
            <a class="navbar-item">
              Pricing
            </a>
            <a class="navbar-item">
              Blog
            </a>
        </div>
</nav>
-->