<div class="navbar">
     <div class="navbar__logo">
          <a href="/"><img src="/logos/logo-dark-struc.png" alt="App Radar Logo"></a>
     </div>
     <div class="navbar__main">
          <ul class="navigation__list">
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Academy</a></li>
              <li><a href="#">Case Studies</a></li>
              <span class="try-it">Try it for free</span>
              <span class="login">Login</span>
          </ul>
     <button class="js-navicon hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>  
     </button>
     </div>
</div>