
.text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  
  .color-primary {
    color: #0080ff;
  }
  .color-accent {
    color: #ff0062;
  }
  .color-text {
    color: #798087;  
  }
  .color-textdark {
    color: #000000;
  }