.blog-wrapper {
  background-color: #f3f5f9;
}

.blog {
  background-color: #f3f5f9;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;
  justify-content: center;
  align-items: center;
}

.pinky {
  text-align: center;
}

.blog__mailbox {
  padding-left: 3rem;
}

.blog__subheadline {
  color: #5d657c;
}

.header__image {
  margin-bottom: 2rem;
  text-align: center;
}

.blog__form input {
  padding-left: 0.8rem;
  width: 70%;
  height: 2rem;
  border: 1px solid #e6e9ec;
  color: #798087;
  border-radius: 4px;
  margin-bottom: 2.8rem;
}

.blog__form button {
  height: 2rem;
}

.blog__headline {
  background-color: #f3f5f9;
  margin: 0;
  padding-bottom: 2rem;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

.blog-cards {
  max-width: 1200px;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #f3f5f9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog-card__content {
  padding: 20px;
}

.blog-card {
  flex: 0 0 33.333%;
  background: white;
  margin-bottom: 2rem;
  box-shadow: 0 15px 35px 0 rgba(50, 66, 93, 0.1);
}

#blog-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-width: 100%;
  height: auto;
}

.post-entry {
  padding: 20px;
  line-height: 200%;
}

.blog-card__footer {
  text-align: center;
}

.button__read {
  color: #29333d;
  font-weight: 600;
  height: 41px;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.14),
    0 4px 6px 0 rgba(0, 0, 0, 0.08), inset 0 0 2px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 2rem;
  background-color: transparent;
}

.button__read:hover {
  box-shadow: 0 2px 5px 0 rgba(50, 50, 93, 0.12),
    0 6px 12px 0 rgba(0, 0, 0, 0.16), inset 0 0 2px 0 rgba(0, 0, 0, 0.04);
}

.post-title {
  font-size: 19px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.author,
.date {
  color: #798087;
}

.author {
  margin-right: 20px;
}

.post-content {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: left;
}

.post-header {
  text-align: center;
  margin-bottom: 2rem;
}

.blog4 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  box-shadow: 0 15px 35px 0 rgba(50, 66, 93, 0.1);
}

.blog4-image img {
  width: 70%;
  height: 100%;
}

.blog4-link {
  display: flex;
  flex-direction: row;
}
.featured {
  flex: 0 0 100%;
}

@media only screen and (min-width: 1000px) {
  .blog {
    flex-direction: row;
  }
  .blog-cards {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-card {
    flex: 0 0 30%;
    flex-wrap: wrap;
  }
  .featured {
    flex: 0 0 100%;
  }

  .reverse {
    .blog-card {
      flex-direction: row;
    }
    .content-wrap {
       flex: 0 0 50%;  
    }
    .blog-card__header {
      flex: 0 0 50%;
    }
  }

  .post-content {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: left;
  }
  .pinky {
    text-align: left;
  }
}

