{{ partial "head.html" . }}

{{ partial "nav.html" . }}


<div role="main" class="blog-wrapper">{{ with.Content }} {{.}} {{ end }}
        <div class="blog-cards">

                {{ $pageCount := (.Params.pageCount | default .Site.Params.pageCount) }}
                {{ $pag := .Paginate .Pages $pageCount }}
                {{ range  $index, $page := $pag.Pages }}

                    <a href="{{ .URL }}" class="blog-card {{- if eq $index 3 }} featured reverse {{ end -}}">
                        <div class="blog-card__header">
                            {{ with .Params.image }}<img src="{{ . }}" id="blog-image"/>{{ end }}
                        </div>
                        <div class="content-wrap">
                        <div class="blog-card__content">
                            <p class="post-title">{{ .Title }}</p>
                            <div class="post-meta">
                                <span class="author">{{ .Params.author }}</span>
                                <span class="date">
                                    {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
                                </span>
                            </div>
                                <p>
                                  {{ .Params.summary }}
                                </p>
                        </div>
                        <div class="blog-card__footer">
                            <button class="button__read">Read more</button>
                        </div>
                    </div>
                    </a>
                 {{ end }}
        </div>

        {{ partial "pagination.html" $pag }}
        
</div>
{{ partial "footer.html" . }}
