{{- $bannerHeadline := .Get "bannerHeadline" }}
{{- $bannerSubheadline := .Get "bannerSubheadline" | default false }}
{{- $bannerButton := .Get "bannerButton" }}
{{- $bannerLink := .Get "bannerLink" | default false }}


{{- if $bannerLink }}
    <a href="{{ $bannerLink }}" class="banner">
{{ else }}
    <div class="banner">
{{ end -}}

<div class="banner__inner">
      <div class="banner__content">
         <h2 class="banner__headline">{{ $bannerHeadline }}</h2>
         <p class="banner__subheadline">{{ $bannerSubheadline }}</p>
      </div>
      <div class="banner__button">
         <div class="banner__button-text">{{ $bannerButton }}</div>
      </div>
      <div class="banner__image">
         <img class="bimage" src="/images/bitmap.png"
         srcset= "/images/bitmap.png,
                 /images/bitmap@2x.png 2x,
                /images/bitmap@3x.png 3x" 
         alt= "Banner image">
      </div>
</div>
{{- if $bannerLink }}
    </a>
{{ else }}
    </div>
{{ end -}}